@inherits CalculaIMCBase;
@inject IJSRuntime JSRuntime

<div class="container">
    <div class="content">

        <div class="flex flex-column en-animate glow">
            <div>
                <h1 class="main-text">Cálculo de IMC</h1>
            </div>

            <div class="group-input" style="align-items: center;">
                <input placeholder="Altura" @bind-value="alturaUsuario" class="main-input" type="number" />
            </div>
            <div class="group-input">
                <input placeholder="Peso" @bind-value="pesoUsuario" class="main-input" type="number" />
            </div>
            <div class="group-input">
                <select @bind="sexoUsuario" class="main-input">
                    <option value="" disabled selected>Sexo</option>
                    <option value="M">Masculino</option>
                    <option value="F">Feminino</option>
                    <option value="O">Outro</option>
                </select>
            </div>

            <div style="margin-top: 15px; margin-bottom: 15px;">
                <input checked="@possui65AnosOuMais" @onchange="OnCheckboxChange" type="checkbox" class="input-checkbox" id="65mais" name="65mais" />
                <label class="label-checkbox" for="65mais">Eu tenho 65 anos ou mais</label>
            </div>

            <div>
                <button @onclick="OnClickCalcularImc" class="main-button"><b>Calcular meu IMC</b></button>
            </div>
            <div>
                <button class="second-button">
                    <a style="text-decoration:none; color: inherit" target="_blank" href="http://tabnet.datasus.gov.br/cgi-win/SISVAN/CNV/notas_sisvan.html">
                        <b>Entenda o cálculo</b>
                    </a>
                </button>
            </div>
        </div>
    </div>
</div>



<dialog @ref="_element" class="backgroud-main" style="width: 100%; overflow:hidden">
    <div class="container">
        <div class="content flex" style="justify-content: center; align-items: center;">
            <div style="position: relative; width: 100%;">
                <div class="main-div-content-page en-animate glow">
                    <div class="flex flex-column">

                        @if (possui65AnosOuMais)
                        {
                            @if (valorImcDialog >= 22 && valorImcDialog < 27)
                            {
                                <h1 class="main-text">✅ Parabéns!</h1>

                                <div class="subtitle-login">
                                    <span>
                                        Você está no peso ideal, continue <br /> mantendo este estilo!
                                    </span>
                                </div>
                            }
                            else
                            {
                                <h1 class="main-text">⛔️ @classificacaoImcDialog</h1>

                                @if (valorImcDialog < 22)
                                {
                                    <div class="subtitle-login">
                                        <span>
                                            Cuidado você está com o peso abaixo do ideal, <br /> dê uma atenção para sua saúde
                                        </span>
                                    </div>
                                }
                                else
                                {
                                    <div class="subtitle-login">
                                        <span>
                                            Cuidado você está com sobrepeso, <br /> dê uma atenção para sua saúde
                                        </span>
                                    </div>
                                }
                            }
                        }
                        else
                        {
                            @if (valorImcDialog >= 18.5 && valorImcDialog < 24.9)
                            {
                                <h1 class="main-text">✅ Parabéns!</h1>

                                <div class="subtitle-login">
                                    <span>
                                        Você está no peso ideal, continue <br /> mantendo este estilo!
                                    </span>
                                </div>
                            }
                            else
                            {
                                <h1 class="main-text">⛔️ @classificacaoImcDialog</h1>

                                @if (valorImcDialog < 18.5)
                                {
                                    <div class="subtitle-login">
                                        <span>
                                            Cuidado você está com o peso abaixo do ideal, <br /> dê uma atenção para sua saúde
                                        </span>
                                    </div>
                                }
                                else
                                {
                                    <div class="subtitle-login">
                                        <span>
                                            Cuidado você está com sobrepeso, <br /> dê uma atenção para sua saúde
                                        </span>
                                    </div>
                                }
                            }
                        }

                        <div>
                            <button @onclick="OnClickFecharModal" class="main-button"><b>Registrar medidas</b></button>
                        </div>
                        <div>
                            <button @onclick="OnClickFecharModalHistorico" class="second-button"><b>Ver meu histórico</b></button>
                        </div>
                    </div>
                </div>

                <div class="flutuante">
                    <div class="div-img-logo">
                        <img class="img-imc-logo" src="assets/icon-no-bg.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>
