<div class="container backgroud-main">
    <div class="content flex" style="justify-content: center;">
        <div class="div-img-logo en-animate glow">
            <img class="img-imc-logo" src="assets/icon-no-bg.png" />
        </div>
    </div>
</div>
